.classes{
    background: white;
    box-shadow: 2px 2px 5px rgb(179, 179, 179);
}
.classes-wrapper{
    .a-class{
        // margin: 5px;
        display: inline-block;
        margin: 5px;
    }
    
}
.sider-collapse{
    display: flex;
    justify-content: space-between;
}