.doc-detail-wrapper{
    padding: 16px 0;
    .margin-side{
        margin: 0 140px;
    }
    .circle{
        border-radius: 100%;
        width: 40px;
        height: 40px;
        background: #ffa800;
        opacity: 0.7;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
    }
    .doc-detail-content{
        padding: 16px 140px;
    }
    .title{
        margin: 30px auto 0;
        text-align: center;
        font-family: "微软雅黑";
        font-size: 22px;
    }
    .author{
        margin: 10px auto;
        text-align: center;
    }
    .source{
        background: #eee;
        padding: 8px 16px;
    }
    .cite-wrapper{
        border-left: 4px #276f97 solid;
        padding-left: 10px;
    }
    .cite-header{
        color: #276f97;
        font-size: 18px;
        margin: 10px 0;
    }
    .btns{
        width: 100%;
        padding: 10px 140px;
        text-align: right;
        .print-btn{
            background: #ffa800;
            color: white;
            font-size: 14px;
            border-radius: 5px;
            margin-right: 14px;
        }
        .print-btn:hover{
            border-color: #ffa800;
            opacity: 0.8;
        }
        .download-btn{
            border-radius: 5px;
            font-size: 14px;
        }
    }
}