.single-search-box-wrapper{
    width: 100vw;
    height: 200px;
    // background-color: #0f5de5;
    background: url('https://piccache.cnki.net/kdn/KNS8/Content/images/gb/banner.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    .search-box{
        width: 50%;
        transform: translateX(10%);
    }
    .to-senior-link{
        color: white;
        margin-left: 16px;
    }
    a:hover{
        color: #c5eaff;
    }
}