.footer{
    width: 100%;
    height: 100px;
    background-color: #1c2b40;
    color: white;
    .links-area{
        padding: 16px 32px;
        border-bottom: 1px solid #2e435e;
        .links-ul{
            display: flex;
        }
    }
    .end-footer{
        padding: 16px 32px;
        color: white;
        text-align: center;
        background-color: #1c2b40;
    }
    .footer-link{
        margin: 0 16px;
        a{
            color: #a4acb7;
            text-decoration: none;
        }
        a:hover{
            color: #2f8bd6;
        }
    }
}