@import '~antd/dist/antd.css';

body,
h1,
h2,
h3,
h4 {
    font-family: Microsoft YaHei, '宋体', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

.g-header {
    height         : 40px;
    width          : 100vw;
    background     : rgb(233, 233, 231);
    color          : #333;
    display        : flex;
    justify-content: end;
    align-items    : center;
    padding        : 0 48px;
}

a:hover {
    text-decoration: underline;
}

.g-span-link {
    cursor : pointer;
    color  : #538ef6;
    padding: 5px 8px;
}

.g-span-link:hover {
    /* color: #c5eaff; */
    text-decoration : underline;
    background-color: #e4ebfb;
}

.g-clickable-icon {
    cursor: pointer;
}

.g-clickable-icon:hover {
    color: #0f5de5;
}

.g-card-wrapper {
    border-radius: 5px;
    box-shadow   : 0 2px 3px 0 rgba(210, 210, 210, 75%);
    width        : 300px;
}

.g-card-wrapper .ant-card-head {
    background-color: #e3ecfd;
    display         : flex;
    align-items     : center;
    padding         : 0 10px !important;
}

.g-card-wrapper .ant-card-body {
    padding: 10px !important;
}

.g-card-wrapper .ant-card-head:hover {
    /* background-color: #ced7e6; */
}

.g-card-wrapper .ant-card-head-title {
    padding: 0 !important;
}

.g-card-title {
    font-size  : 14px;
    font-weight: bold;
}

.g-small-font {
    font-size: 14px;
}

.g-table-area {
    padding: 0 14px;
}

.g-smaller-font {
    font-size: 12px;
}

.ant-table-cell {
    color        : #778192 !important;
    /* text-align: center !important; */
}

.g-table-link {
    cursor         : pointer;
    color          : #778192;
    text-decoration: none;
    font-family    : "Microsoft yahei", serif;
}

.g-table-link:hover {
    color          : #538ef6;
    text-decoration: none;
}

.g-indent-para {
    text-indent: 2em;
}

.doc-detail-wrapper .ant-anchor-wrapper {
    float: left;
}

.doc-detail-wrapper .ant-anchor-ink-ball.visible {
    background-color: #ffa800;
    width           : 5px;
    height          : 16px;
    border          : 2px solid #ffa800;
}

.doc-detail-wrapper .ant-anchor-link-title-active {
    color: #ffa800;
}

.highlight {
    color: #ff5e00;
}

.ant-checkbox-wrapper+.ant-checkbox-wrapper {
    margin-left: 0 !important;
}
.ant-card-extra{
    position: absolute;
    right: 10px;
    font-size: 16px;
}
.sider-bar-card .average .ant-checkbox-wrapper{
    width: 50%;
}
.sider-bar-card .whole-line .ant-checkbox-wrapper{
    width: 100%;
}
li{
    list-style: none;
}