.sider-bar {
    // background   : white;
    transform    : translate(0,-20px);
    border-radius: 5px;
}
.empty-area{
    margin: 100px;
}
.fixed-sider-btn{
    position: fixed;
    // width: 15px;
    color: white;
    left: 110px;
    padding: 23px 5px;
    writing-mode: vertical-lr;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.5s ease;
}
.fixed-sider-btn:hover{
    opacity: 0.8;
}
.sure{
    background-color: #1890ff;
    top: 300px;
}
.reset{
    background-color: #ff5e00;
    top: 400px;
}